# Compiled Binaries
lib/
build/
*.o
*.so
tests/lib/
tests/bin/


# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS specific
.DS_Store

# IDE specific
.vscode/
.idea/

# Specific file for testing
# Nothing for now

NVIM FOR THE WIN
