# Compiled Binaries
lib/
build/
*.o
*.so
interpreter/_src/lib/
tests/lib/
tests/bin/


# Python Cache
__pycache__/
*.py[cod]
*$py.class
program_cache/
.venv/
.pytest_cache/

# OS specific
.DS_Store

# IDE specific
.vscode/
.idea/

# pip specific
*.egg-info/